name: test

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: NODE_V8_COVERAGE=./coverage node --test --experimental-test-coverage
    - run: npx -y c8 report --temp-directory ./coverage --reporter html
    - run: |
        chmod -c -R +rX "coverage/" | while read line; do
          echo "::warning title=Invalid file permissions automatically fixed::$line"
        done
    - run: 'rm ./coverage/*.json'
    - name: upload cov report
      uses: actions/upload-artifact@v6
      with:
          name: cov_data
          path: coverage/*
